body {
    text-align: left;
    color: #373737;
    font-family: Palatino;
}

div#zh_header h1 {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: #45b3e7;
}

/* unvisited link */
a:link {
    color: #c0b283;
}

/* visited link */
a:visited {
    color: #c0b283;
}

/* mouse over link */
a:hover {
    color: #dcd0c0;
}

/* selected link */
a:active {
    color: blue;
}

#zh_sidebar {
    border-left: 1px solid black;
}

#zh_footer {
    padding-top: 5px;
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}

.title {
    font-size: 11pt;
    font-family: Verdana;
    font-weight: bold;
}