body {
    text-align: left;
    color: #373737;
    font-family: Palatino;
}

div.zh_post > h1#title {
    font-weight: bold;
}

div.zh_post > h4#date {
    font-style: oblique;
}

header {
    overflow: hidden;
    background-image: url("http://localhost:8888/wordpress/wp-content/themes/zachary_hughes_wordpress/assets/header_background.jpg");
    margin-bottom: 10px;
}

li.nav-item a.nav-link {
    background-color: white;
}

div#zh_header h1 {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: #45b3e7;
}

/* unvisited link */
a:link {
    color: #c0b283;
}

/* visited link */
a:visited {
    color: #c0b283;
}

/* mouse over link */
a:hover {
    color: #dcd0c0;
}

/* selected link */
a:active {
    color: blue;
}

#zh_footer {
    padding-top: 10px;
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}

.title {
    font-size: 11pt;
    font-family: Verdana;
    font-weight: bold;
}